[user]
	name = Clément VIDON
	email = cvidon@student.42.fr
	username = clemedon
[init]
    defaultBranch = main
[core]
	editor = vim
	excludesfile = "$HOME/.gitignore"
	pager = less
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[gc]
	reflogExpire = 1.month.ago
[pull]
    rebase = true
[fetch]
    prune = true
[diff]
    colorMoved = zebra
    tool = vimdiff
[merge]
	tool = vimdiff
[alias]
    aa = add --all
    ap = add -p
    ##########
    ca = commit --amend
    cm = commit -m
    cp = commit -p
    cv = commit -v
    ##########
    di = diff
    ds = diff --staged
    ##########
    lp = log --pretty=format:"%an %cr : %s" --stat --graph -2
    pu = push
    re = reset
    ss = status -sb
