let mapleader = " "

" Vim settings

set ignorecase
set smartcase
set incsearch
set hlsearch

" Extensions

set highlightedyank
let g:highlightedyank_highlight_duration = "5000"
let g:highlightedyank_highlight_color = "rgba(150, 255, 200, 255)"
set surround
set commentary
set argtextobj " cia → change inside arguments
set quickscope " fFtT helper
set sneak "  sS → a fFtT with 2 chars
" set which-key

"--------- NAV ---------"

" split window
no <space>w <C-w>
no <Leader>wM <C-W>_\|<C-W><BAR>
nnoremap <space>wH :action MoveTabLeft<CR>
nnoremap <space>wJ :action MoveTabDown<CR>
nnoremap <space>wK :action MoveTabUp<CR>
nnoremap <space>wL :action MoveTabRight<CR>
" TODO
nnoremap <space>w1 :action MoveEditorToOppositeTabGroup<CR>
nnoremap <space>w2 :action MaximizeEditorInSplit<CR>
nnoremap <C-3> :action Back<CR>
nnoremap <C-8> :action Forward<CR>



"" Choosing handlers in conflicting Intellij/IdeaVim keymaps =======

sethandler <C-w> n-v-i:vim

sethandler <C-r> n-v-i:vim
sethandler <C-t> n-v-i:vim

sethandler <C-i> n-v-i:vim
sethandler <C-o> n-v-i:vim

sethandler <C-]> n-v-i:vim
sethandler <C-[> n-v-i:vim
sethandler <C-u> n-v-i:vim
sethandler <C-d> n-v-i:vim

sethandler <C-e> n-v-i:vim
sethandler <C-y> n-v-i:vim

sethandler <C-v> n-v-i:vim

" misc
no mw  :write<CR>
no mq  :quit<CR>
no mQ  :quitall<CR>
no md  :bn\|bd#<CR>
no gmd :bn!\|bd! #<CR>
nn sb :ls<CR>:b<Space>
nn sp :e #<CR>
nn st :tag /

nn glhl :set hls!<CR>
nn glcc :set cursorcolumn!<CR>
nn glcl :set cursorline!<CR>
nn glso :source ~/.ideavimrc<cr>

nnoremap <Leader>f :action ShowNavBar<CR>

" refactor
nnoremap <leader>gen :action Generate<CR>
nnoremap <leader>rcs :action ChangeSignature<CR>
nnoremap <leader>ref :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rfo :action ReformatCode<CR>
nnoremap <leader>ric :action IntroduceConstant<CR>
nnoremap <leader>ril :action Inline<CR>
nnoremap <leader>rip :action ReplaceInPath<CR>
nnoremap <leader>riv :action IntroduceVariable<CR>
nnoremap <leader>rre :action RenameElement<CR>
nnoremap <leader>rrf :action RenameFile<CR>
nnoremap <leader>rsw :action SurroundWith<CR>
nnoremap <leader>rxi :action ExtractInterface<CR>
nnoremap <leader>rxm :action ExtractMethod<CR>

" info
nnoremap <leader>ich :action CallHierarchy<CR>
nnoremap <leader>ico :action EditorContextInfo<CR>
nnoremap <leader>ido :action QuickJavaDoc<CR>
nnoremap <leader>ifs :action FileStructurePopup<CR>
nnoremap <leader>iim :action QuickImplementations<CR>
nnoremap <leader>ipa :action ParameterInfo<CR>
nnoremap <leader>isu :action ShowUsages<CR>
nnoremap <leader>ith :action TypeHierarchy<CR>
nnoremap <leader>ity :action QuickTypeDefinition<CR>


" find
nnoremap <leader>fin :action Find<CR>
nnoremap <leader>fip :action FindInPath<CR>
nnoremap <leader>fus :action FindUsages<CR>

" goto
nnoremap <leader>gac :action GotoAction<CR>
nnoremap <leader>gcl :action GotoClass<CR>
nnoremap <leader>gde :action GotoDeclaration<CR>
nnoremap <leader>gfi :action GotoFile<CR>
nnoremap <leader>gim :action GotoImplementation<CR>
nnoremap <leader>gsu :action GotoSuperMethod<CR>
nnoremap <leader>gsy :action GotoSymbol<CR>

" nav
nnoremap ]b :action GotoNextBookmark<CR>
nnoremap [b :action GotoPreviousBookmark<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap <leader>grf :action RecentFiles<CR>
nnoremap <leader>grl :action RecentLocations<CR>

" debug
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dr :action RunToCursor<CR>
nnoremap <leader>ds :action StepOver<CR>
nnoremap <leader>dx :action EvaluateExpression<CR>
nnoremap <leader>dq :action Stop<CR>
