Xft.dpi:       220
Xft.autohint:  false
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight

Xcursor.size:  48
Xcursor.theme: capitaine-cursors
